
md-card
	md-toolbar.md-hue-2(flex="noshrink")
		div.md-toolbar-tools
			md-button.md-icon-button
				md-icon(md-svg-icon="view-dashboard")

			h2 Home

	md-card-content
		p Hello {{ $appCtrl.user.name }}
