.p-l-md {
  padding-left: 20px;
}

.p-t-md {
  padding-top: 20px;
}

.p-b-sm {
  padding-bottom: 10px;
}

.text-right {
  text-align: right !important;
}

.m-input {
  margin-top: 30px !important;
}

.w-full{
  width: 100%;
}