$white: white;
$border-radius: 2px;
$success: #8cc63f;
$danger: #DD2C00;
$info: #55acee;
$primary: #0eb1ba;
$warning: #efdb13;
$background-color: #f2f2f2;
$color: #616161;
$border-color: #ccc;
$border-radius-base: 3px;
/*Sidemenu*/
$side-background: #37474F;
$side-color: white;
$side-header: #263238;
/*Border*/
$border-color: #F3F3F3;